<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
<experiment config-class="org.anchoranalysis.launcher.executor.BeanFixture" fileInput="../input/ellipseFitting.tif" directoryOutput="../output/" inputName="stackInput">

	<task config-class="org.anchoranalysis.plugin.mpp.bean.define.Develop" dictionary="input_dictionary">
		  <define suppressSubfolders="false" config-class="org.anchoranalysis.plugin.mpp.bean.define.DefineOutputter"/>
	</task2>
	
</experiment>
</config>